{% comment %}
  快樂印刷 - Product Template
{% endcomment %}

<div id="MainContent" class="main-content">
  <div id="react-root" data-page="product" data-product-id="{{ product.id }}"></div>
</div>

{% schema %}
{
  "name": "產品頁",
  "settings": []
}
{% endschema %}
